@inject NavigationManager navigationmanager

<FluentDesignSystemProvider role="navigation" class="navigation">
    <h1 class="head">Heartbeat</h1>
    <ul>
        <li>
            <FluentAnchor Href="" Appearance=@SetAppearance("")>Home</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="instance-type-statistics" Appearance=@SetAppearance("instance-type-statistics")>Instance type statistics</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="object-info" Appearance=@SetAppearance("object-info")>Object info</FluentAnchor>
        </li>
    </ul>
</FluentDesignSystemProvider>

@code {
    private string? target;

    protected override void OnInitialized()
    {
        navigationmanager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }

    private void LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        Uri uri = new Uri(e.Location);
        if (uri.Segments.Count() > 1)
            target = uri.Segments[1];
        else
            target = "";
        StateHasChanged();
    }

    private Appearance SetAppearance(string location) => (location == target) ? Appearance.Neutral : Appearance.Stealth;

}