@page "/fetchdata"
@using Heartbeat.Rpc.Contract
@inject IRpcClient RpcClient 

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

@if (stats == null)
{
    <p><em>Loading GRPC...</em></p>
}
else
{
     <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Count</th>
                <th>TotalSize</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stat in stats)
            {
                <tr>
                    <td>@stat.TypeName</td>
                    <td>@stat.InstanceCount</td>
                    <td>@stat.TotalSize</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private IReadOnlyCollection<Domain.ObjectTypeStatistics>? stats;
    protected override async Task OnInitializedAsync()
    {
        stats = await RpcClient.GetObjectTypeStatistics(Domain.TraversingHeapModes.All);
    }
}
